.container {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.modal-content {
	width: 700px;
	height: 600px;
	margin: auto;
}
#pdfSection {
	height: 400px;

}
.pdfobject-container { height: 32rem; width: 100%; border: 1rem solid rgba(0,0,0,.1); 
position: absolute;
bottom: 10px;
right: 0px;
}

/*#pdfContainer {
	position: absolute;
	height: 200px;
	top: 0; right: 0; bottom: 0; left: 0;
}*/
.row {

	padding-left: 15px;
}
h2 {
	text-align: center;

}
