
	.container {
	word-wrap: break-word;
	word-break: break-all;
  	padding-top: 20px;
  	padding-right: 30px;
    padding-bottom: 20px;
 	padding-left: 20px;
 	overflow: auto;
}	

#calendar {
	padding: 20px;
	
}
#modalContainer {
	max-height: 200px;
	border-top: 1px solid rgba(0,0,0,.25);
	border-bottom: 1px solid rgba(0,0,0,.25);
	padding-top: 5px !important;
	padding-bottom: 5px !important; 
}
.fc-event-container:hover {
	cursor: pointer;
}
/*
div {
	word-wrap: break-word;
	word-break: break-all;
}
*/

#formcontainer {
	padding: 20px;
	background-color: rgba(0,0,0,.1);
	border: rgba (0,0,0,0.2);
	border-width: 20px;
}
.modal-content {
	width: 900px;
	height: 840px;
	margin: auto;
}
.modal-backdrop
{
    opacity:0.5 !important;

}
#closeModal {
	font-size: 40px;
}
.modal-header {
	height: 60px;
}
#shipTicketPdfContainer {
	height: 25rem;
	margin: 0 auto;
}
#ladingPdfContainer {
	height: 25rem;
	margin: 0 auto;
}
.carousel-inner {

	height: 27.5rem;
	margin: 0 auto;
	border: solid black;
}
.carousel-item {
	height: 80%;
	
} 
.pdfobject-container { 
	height: 25rem; 
}
form {
	border-radius: 2px;
	border-color: black;
}
small {
	color: rgba(0,0,0,.2);
}

.btn-outline-warning {
    color: #f58142; 
    border-color: #f58142;
}

.btn-outline-warning:hover {
	color: #000000; 
	background-color: #f58142;
    border-color: #f58142;
}
.btn-warning {
	background-color: #f58142;
    border-color: #f58142;
}
.btn-warning:hover {
	background-color: #f57842;
    border-color: #f57842;
}
.btn-warning:foc {
	background-color: #f57842;
    border-color: #f57842;
}
.centered-container {
margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}
.form-group {
	bottom: 10px;
}

/*#pdfContainer {
	position: absolute;
	height: 200px;
	top: 0; right: 0; bottom: 0; left: 0;
}*/

