
	.container {
	word-wrap: break-word;
	word-break: break-all;
  	padding-top: 20px;
  	padding-right: 30px;
    padding-bottom: 20px;
 	padding-left: 20px;
 	overflow: auto;
}	
#blueLogo {
	height: 100%;
	width: 20%;
	left: 50%;
	transform: translate(200%);
	padding: 6px;
	display: none;
}
#changelog {
	text-align: center;
}
#submitTruckBtn {
	background-color: #F24E1B !important;
	color: white;

}
#signOutBtn {
	display: none;
	margin-right: 20px;
	float: right;
	border-radius: 20px;
	background-color: #082a40;
}
#calendar > * {
	z-index: 0;
}
#calendarApplet {
	border: solid #F24E1B !important;
	border-radius: 25px;
	background-color: white;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	display: none;
	height: 80%;
	width: 95%;

}
#loginApplet {
	display: none;
	height: 80%;
}

#modalContainer {
	max-height: 200px;
	border-top: 1px solid rgba(0,0,0,.25);
	border-bottom: 1px solid rgba(0,0,0,.25);
	padding-top: 5px !important;
	padding-bottom: 5px !important; 
}
.fc-event-container:hover {
	cursor: pointer;
}
/*
div {
	word-wrap: break-word;
	word-break: break-all;
}
*/

#myModal {
	margin: 0 auto;
}

#formcontainer {
	padding: 20px;
	background-color: rgba(0,0,0,.1);
	border-width: 20px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.modal-content {
	width: 800px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.modal-backdrop
{
    opacity:0.5 !important;

}
#closeModal {
	font-size: 40px;
}
.modal-header {
	height: 60px;
}
#shipTicketPdfContainer {
	height: 300px;
	margin: 0 auto;
}
#ladingPdfContainer {
	height: 300px;
	margin: 0 auto;
}
#pdfCarousel {
	width: 80%;
	height: 300px;
}
.carousel-inner {

	height: 300px;
	margin: 0 auto;
	border: solid black;
}
.carousel-item {
	height: 300px;
	
} 
.pdfobject-container { 
	height: 300px; 
}
form {
	border-color: black;
}
small {
	color: rgba(0,0,0,.4);
}

.btn {
	z-index: 0 !important;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}


.btn:focus, .btn:active {
  box-shadow: none !important;
  
}
.btn-outline-primary:active, .btn-outline-primary:hover {
	color: black !important;
}
.btn-outline-warning:active, .btn-outline-warning:hover, .btn-primary:active {
	color: lightgrey !important;
	outline: #082a40 !important;
}
.btn-primary, .btn-primary:focus, .btn-primary:hover,
.btn-outline-warning:focus, .btn-outline-warning:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
	color: white;
	background-color: #082a40 !important;
    border-color: #082a40;
}


.btn-outline-primary:hover, .btn-warning, .btn-warning:focus, .btn-warning:hover, .btn-warning:active {
    color: white; 
    border-color: #F24E1B !important;
    background-color: #F24E1B !important;
}

.btn-outline-warning {
    color: #F24E1B; 
    border-color: #F24E1B;
}
 .btn-outline-primary {
    color: #082a40; 
    border-color: #082a40;
}

.centered-container {
	height: 87%;
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 450px;
	border-radius: 25px;
	border: solid #F24E1B;
  	background-color: white;
}

.form-group {
	bottom: 10px;
}
.login-btn {
	margin-top: 0px;
	width: 200px;
	transform: translate(50%, 0%);
}
.forgot-password {
	margin-top: 30px;
}
#forgotPassLink {
	color: #F24E1B;
}
.tab-pane {
	height: 340px;
}
.landing-hdr {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;
	color: #082a40;
	font-weight: lighter;
}
#logo {
	width: 80%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;

}
.sg-font-hdr {
	font-family: Post Grotesk,Helvetica,Arial,sans-serif;
    color: #082a40;
    font-size: 30px;
    font-weight: 12;
    text-align: center;
	word-break: break-word;
	font-weight: lighter;
}
.sg-font-hdr::before {
	content: "";
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60px;
	height: 60px;
	background-image: url('../img/logo.svg');
	background-position: center;
	background-size: contain;
}

header {
	z-index: 1;
	position: fixed;
	height: 5.5%;
	padding-bottom: 0px;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #F24E1B;
	color: white;
	border-bottom: solid white;
}

footer {
	height: 5.5%;
	z-index: 1;
	position: fixed;
	padding-top: 0px;
	padding-bottom: 0px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #F24E1B;
	color: white;
	text-align: center;
	display: none;
	border-top: solid white;
}
footer > * {
	color: #082a40;
	font-size: 12px;
}
#version {
	font-size: 9px;
}

#signInBtn, #createAccountBtn {
	background-color: #082a40;
}
.nav-item {
	color: #082a40;
	border-top-color: lightgrey !important;
	border-left-color: lightgrey !important;
	border-right-color: lightgrey !important;
}
.nav-item:hover {
	color: #F24E1B !important;
	border-top-color: #F24E1B !important;
	border-left-color: #F24E1B !important;
	border-right-color: #F24E1B !important;
}

body {
	height: 100%;
	background-color: #082a40;
	overflow: scroll;
}


.nav-link.active {
	color: #F24E1B !important;
	border-top-color: #F24E1B !important;
	border-left-color: #F24E1B !important;
	border-right-color: #F24E1B !important;
}


#spinning{
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 

}

@keyframes spin {
    from {
        transform: rotate(0deg);

    }
    to {
        transform:rotate(360deg);

    }

}

